extends common/layout

block content
  main.main
    .banner
      .banner__container
        .banner__content
          h1.banner__title Зарабатывай
            |
            |
            span.banner__title-text до 100 рублей
            |
            | за каждого рекомендованного клиента, воспользовавшегося услугой
            |
            span.banner__title-text.banner__title-text--big ProCREDIT
          p.banner__text Присоединяйтесь к партнерской программе лидера по одобренным кредитам в Республике Беларусь
          .banner__btn-wrap
            a.banner__btn.btn(href="/registration.html") Стать партнером
            a.banner__btn.btn.btn--white.btn--left-24.btn--mob-hidden(href="/log-in.html") Войти

    .statistic
      .statistic__container
        mixin statistic-item(count,text,url)
          .statistic__item
            .statistic__item-wrap
              p.statistic__item-count=count
              p.statistic__item-text=text
            img.statistic__item-icon(src=url, width="48", height="48", alt="Icon")

        +statistic-item('28','Офисов в стране','img/1.svg')
        +statistic-item('> 36 000','Одобренных кредитов','img/2.svg')
        +statistic-item('8','Лет успешной работы','img/3.svg')

    .agent-program
      .agent-program__container
        h2.agent-program__title.page__title Агентская программа
        p.agent-program__subtitle Продажа финансовых продуктов и услуг за денежное вознаграждение
        p.agent-program__text Рассказывай о продуктах и услугах ProCredit своим знакомым,  соседям, клиентам.!{' '}
          | А когда они захотят стать нашими клиентами, просто передай их имена и номера телефонов любым удобным способом

    .program-benefits
      .program-benefits__container
        h2.program-benefits__title.page__title Преимущества партнёрской программы
        .program-benefits__flex
          mixin program-benefits__item(url,text)
            .program-benefits__item
              .program-benefits__icon-wrap
                img.program-benefits__icon(src=url, width="48", height="48", alt="Icon")
              p.program-benefits__item-text=text
          +program-benefits__item('img/benefit-1.svg','Свободный график')
          +program-benefits__item('img/benefit-2.svg','Сотрудничество по договору')
          +program-benefits__item('img/benefit-3.svg','Без вложений')
          +program-benefits__item('img/benefit-4.svg','Бонусные 20 BYN за регистрацию')
          +program-benefits__item('img/benefit-5.svg','Без опыта')

    .how-it-work
      .how-it-work__container
        h2.how-it-work__title.page__title Как это работает
        .how-it-work__flex
          mixin how-it-work__item(count,text)
            .how-it-work__item
              p.how-it-work__count=count
              .how-it-work__text-wrap
                p.how-it-work__text=text
          +how-it-work__item('1','Регистрируйтесь')
          +how-it-work__item('2','Рассказываете про наши продукты')
          +how-it-work__item('3','Подаёте заявку')
          +how-it-work__item('4','Получаете денежное вознаграждение')
        .how-it-work__btn-wrap
          a.how-it-work__btn.btn(href="/registration.html") Стать партнером

    .tools
      .tools__container
        h2.tools__title.page__title Какие инструменты мы предлагаем
        mixin tools__item(url,title,text)
          .tools__item
            .tools__icon-wrap
              img.tools__icon(src=url, width="48", height="48", alt="Icon")
            .tools__item-wrap
              p.tools__item-title=title
              p.tools__item-text=text
        +tools__item('img/tools-1.svg','Партнерские ссылки','Этот инструмент позволяет создавать реферальные ссылки для перехода на любую страницу компании')
        +tools__item('img/tools-2.svg','Готовые рекламные материалы','Баннеры под актуальные акции доступны в личном кабинете')
        +tools__item('img/tools-3.svg','Чат-бот','Помощник агента, с помощью которого можно быстрее подавать заявку клиента')

    .questions
      .questions__container
        h2.questions__title.page__title Остались вопросы?
        .questions__wrap
          mixin questions__item(question, ...answers)
            p.questions__item-title=question
            .questions__item-text
              each answer in answers
                p=answer
          +questions__item('Кто может стать партнёром?','Все, у кого есть аудитория в интернете — пользователи соцсетей, блогеры, владельцы сайта и компаний, арбитражники и маркетологи.','Присоединиться может любой, главное — желание привлечь новых клиентов.')
          +questions__item('Как стать партнёром?','Зарегистрируйтесь в личном кабинете — это займёт не больше минуты. Сможете сразу выбрать готовый креатив и начать рекомендовать.')
          +questions__item('Сколько можно заработать?','Ограничений нет. Минимум — 20 BYN за одну продажу, а максимума нет. Всё зависит от Вас.')
          +questions__item('Как с вами связаться?','Зарегистрируйтесь и задайте вопрос через форму обратной связи в личном кабинете')
